body {
  background-image: url("../images/gravel.png");
  margin: auto;
  overflow-x:hidden;
}

.portfolio_image {
  padding-top: 5%;
}

.portfolio_image:hover {
  opacity: 0.5;
}

.brand {
  margin-left: 10%;
}

.navbar {
  background: rgba(128, 128, 128, 0.699);
}

.navbar-nav {
  margin-left: 65%;
}

.container {
  margin-top: 5%;
  background: rgba(128, 128, 128, 0.699);
  margin-bottom: 10%;
  padding-bottom: 2%;
}

h2 {
  padding-left: 3%;
  padding-top: 3%;
  color: brown;
}

h5 {
  text-align: center;
  color: brown;
}

hr {
  background-color: white;
}

.nav-item {
  color: brown;
  font-size: 130%;
  margin: 8%;
}

.nav-item:hover {
  color: white;
  font-size: 130%;
}

.brand {
  color: brown;
  font-size: 175%;
}

.brand:hover {
  color: white;
  font-size: 175%;
}

.page-footer {
  margin-top: 3%;
  background:  rgba(128, 128, 128, 0.699);
  padding: 1%;
  margin-bottom: 0%;
}

.card-title {
  color: black;
}

.label {
  font-size: 150%;
  color: brown;
  text-align: center;
}

.link-games:hover {
  color: white;
}

.label:hover {
  color: white;
}

.bio {
  font-size: 110%;
  color: black;
}

.submit {
  margin-bottom: 2%;
}

.sinkBottom {
  position: fixed;
  bottom: 0%;
  width: 100%;
}

.card {
  margin-top: 15%;
  background-color:  rgba(128, 128, 128, 0.699);
}

.card3 {
  margin-top: 5%;
  background-color:  rgba(128, 128, 128, 0.699);
}

.visit {
  background-color: brown;
  color: white;
}

.visit:hover {
  background-color: white;
  color: black;
}

.list-group {
  padding: 3% 20% 0% 20%;
}

.list-group-item {
  color: brown;
}

.profile {
  padding-bottom: 5%;
}

.icon {
  margin-bottom: 2%;
}